@tailwind base;
@tailwind components;
@tailwind utilities;


.super-rounded {
    border-radius: 30px !important; /* O el valor que prefieras */
  }

  @keyframes logoAnimation {
    0% {
      transform: scale(1) rotate(0deg);
    }
    25% {
      transform: scale(1.1) rotate(5deg);
    }
    75% {
      transform: scale(1.1) rotate(-5deg);
    }
    100% {
      transform: scale(1) rotate(0deg);
    }
  }
  
  .animate-logo {
    animation: logoAnimation 1s ease-in-out;
  }


  /* Header.module.css */
.backgroundSvg {
  background-repeat: repeat-x;
  background-size: 800px auto;
  background-position: center;
  min-height: 200px;
}

/* Mantenemos el mismo tamaño en todos los breakpoints */
@media (max-width: 768px) {
  .backgroundSvg {
    background-size: 800px auto;
  }
}

@media (max-width: 480px) {
  .backgroundSvg {
    background-size: 800px auto;
  }
}

  